@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.heavy {
  font-weight: 700;
}
